<p style="color: green"><%= notice %></p>

<%= render @user %>
<%= @user.FirstName%> &nbsp; <%= @user.LastName%><br>
<%= @user.Mobile%><br>
<%= @user.Email%> <br>
<div class="clearfix ">

<%= image_tag @user.avatar, class:"col-md-6 ", alt:"carousel2", :style => "width:200px; height:200px"%>


</div>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
